.container__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* .container__cards h1 {
  font-size: 3rem;
  margin: 2vh 0 4vh 0;
  color: var(--light-red);
} */

.cards__body {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards__body ul {
  width: 25vh;
  height: 40vh;
  /* margin: 40px; */
  padding: 10px;
  background-color: var(--dark-grey);
}

.cards__body ul li {
  color: white; /*! alter */
}
